* {
  margin: 0;
  padding: 0; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; }

body {
  background: #fff;
  font-family: "Helvetica";
  text-align: center; }

a {
  color: #333; }

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px; }

.grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 29em)) 1fr; }

#top-bar .container {
  grid-column: 2/4; }

#top-bar h1 {
  font-size: 1.7em;
  padding: 0.2em;
  color: #229c8f; }
  #top-bar h1 span {
    color: #002b6c; }

#top-bar p {
  padding-bottom: 1em;
  color: #229c8f; }

#showcase {
  min-height: 450px;
  background: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.form-container {
  grid-column: 2/4;
  background: #fff;
  margin: 1.2em;
  padding: 0.5em;
  border: 0.25em solid #ffcf47;
  border-radius: 8px; }
  .form-container label.main-label {
    display: block;
    color: #002b6c;
    font-weight: bold;
    padding: 0.5em; }
  .form-container .border, .form-container .checkbox, .form-container .checkbox .tiny-box {
    border: 0.05em solid #c4c4c4;
    border-radius: 5px; }
  .form-container .checkbox {
    text-align: left;
    height: 45px;
    margin: 10px;
    cursor: pointer; }
    .form-container .checkbox p {
      text-align: left;
      display: inline-block;
      position: relative;
      bottom: 4px; }
    .form-container .checkbox input[type="radio"] {
      display: none; }
    .form-container .checkbox .tiny-box {
      margin: 12px 10px 0px 12px;
      display: inline-block;
      width: 19px;
      height: 19px;
      border-radius: 3px; }
  .form-container #button1, .form-container #button2 {
    height: 50px;
    width: 95%;
    border: 1px solid #ff8d00;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    background: #f07e04;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ff9b1f, #fb8200);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff9b1f, #fb8200);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff9b1f, #fb8200);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff9b1f, #fb8200);
    /* Standard syntax (must be last) */ }
  .form-container #button2:hover {
    cursor: pointer;
    background: #f07e04;
    background: -webkit-linear-gradient(#ff9b1f, #fb8200);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ff9b1f, #fb8200);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ff9b1f, #fb8200);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ff9b1f, #fb8200);
    /* Standard syntax (must be last) */ }
  .form-container #emailform {
    padding: 15px;
    height: 240px; }
    .form-container #emailform .checkbox {
      display: inline-block;
      width: 96%;
      margin: 10px 0;
      padding-left: 15px; }
    .form-container #emailform .email_label {
      text-align: left;
      font-weight: bold;
      float: left;
      margin-top: 10px; }
    .form-container #emailform input {
      width: 90%;
      height: 98%;
      font-size: 1.1em;
      line-height: 20px;
      outline: none;
      border: none;
      background: none; }
  .form-container #progressbar {
    height: 20px;
    width: 95%;
    background-color: #f3f3f3;
    display: block;
    margin: 15px auto;
    border: 1px solid #e2e2e2;
    border-radius: 4px; }
  .form-container #innerbar {
    height: 20px;
    width: 1%;
    background-color: #a4cf75;
    font-size: 10px; }
    .form-container #innerbar .fiftypercent {
      width: 50%; }
  .form-container #progresstext {
    margin-top: -32px;
    font-size: 0.7em; }
  .form-container #lock {
    display: inline-block;
    margin-top: 15px; }
  .form-container #securetext {
    display: inline-block;
    position: relative;
    bottom: 3px;
    font-style: italic;
    color: #3fa33a; }

.hidden {
  display: none; }

.small-text, #main-footer p {
  font-size: 0.7em; }

#section-a {
  background-color: #75c5bc;
  color: white;
  padding: 20px; }
  #section-a .container {
    grid-column: 2/4; }
    #section-a .container h2 {
      padding: 15px; }
    #section-a .container span {
      color: #002b6c; }
    #section-a .container ul {
      list-style: none; }
      #section-a .container ul li {
        padding: 10px; }
      #section-a .container ul img {
        padding: 15px; }

#section-b .container {
  padding-top: 10px;
  grid-column: 2/4; }

#section-b h2 {
  color: #002b6c;
  padding: 15px; }

#section-b img {
  padding: 20px 15px;
  height: auto;
  width: auto;
  max-width: 200px; }

#main-footer {
  padding: 25px; }
  #main-footer p {
    color: #7b7b7d;
    font-style: italic; }
  #main-footer a {
    color: #002b6c; }

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 34em)) 1fr; }
  #top-bar {
    position: relative; }
    #top-bar .container {
      display: block;
      width: 95%;
      grid-column: 2/4;
      text-align: right; }
      #top-bar .container p {
        padding-right: 90px; }
  .form-container {
    grid-column: 3/4; }
  #section-a .container {
    padding: 10px 0 25px 0;
    margin: 0; }
    #section-a .container ul {
      display: flex;
      justify-content: space-around; }
    #section-a .container li {
      width: 31%; }
    #section-a .container img {
      width: 136px;
      /* you can use % */
      height: 118px; }
  #section-b .container {
    margin: 0; } }
