// Variables
$body-bg: #fff;
$main-font: 'Helvetica';

$font-color: #229c8f;
$primary-color: #75c5bc;
$secondary-color: #002b6c;
$button-color: #ff9b1f, #fb8200;


$container: 1200px;
$section-padding: 40px;